
@media only screen and (max-width: 768px) {
  body {
     background:$background-color;
  p {
    font-family: $text-font;
    font-size:16px;
    color:$text-color;
    line-height: 34px;
    padding:0 12px;
  }
  h1 {
    font-family:$heading-font;
    font-size:30px;
    color:$heading-color;
    line-height:36px;
    padding:0 12px;
  }
  h2 {
    font-family:$heading-font;
    font-size: 30px;
    color:$heading-color;
    line-height:36px;
    padding:0 12px;
  }
  h3, h4, h5, h6 {
    font-family:$heading-font;
    font-size:24px;
    color:$heading-color;
    line-height:32px;
    padding:0 12px;
   }

   nav {
     .navbar-brand img {
       height:90px;
     }
   }

  .header {
    height:500px;
    .title h1 {
      font-size:30px;
    }
  }

  //  Boxes
  .boxes {
    margin-top:-100px;
    .box {
      height:183px;
      width: 137px;
      margin-left:auto;
      .box-content {
        top:10px;
        img {
          display:none;
        }
        p {
          font-size:14px;
          line-height:20px;
        }
      }
    }
  }









  .image-categories {
    .category {
      height:80px;
    }
  }





.copy-2 {
  img {
    padding:0 12px;
  }
}







  }  
}
