// TOPBAR
.topbar {
  // background-color:$gray;
  a {
    color:white;
    text-decoration: none;
    font-size:1rem;
    transition:all .4s ease-in-out;
    // a:hover {
    //   color:$primary;
    // }
  }
}

