
//BUTTON
.my-btn {
  background:$primary;
  border-radius: 5px;
  color:white;
  &:hover {
    background-color:$primary-dark;  
    color:white;
  }
}

// FONT STYLE
.my-italic {
  font-style: italic;
}

// BACKGROUNDS
.my-bg-primary {
  background-color: $primary;
}
.my-bg-secondary {
  background-color:$secondary;
}
.my-bg-tertiary {
  background-color: $purple;
}
.my-bg-gray {
  background-color:$gray;
}


