@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');
$primary:#3A8860;
$secondary:#3A6288;
$purple:#883A75;



@import url('https://fonts.googleapis.com/css2?family=Kumar+One+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Roboto:wght@300&family=Saira+Extra+Condensed:wght@700&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$dm:'DM Serif Display', serif;
$open-sans: 'Open Sans', sans-serif;

$roboto:'Roboto', sans-serif;

$raleway:'Raleway', sans-serif;

$numbers-font:'Saira Extra Condensed', sans-serif;
$header-font:'Gravitas One', cursive;
$text-font:'Roboto', sans-serif;

.number-font {
  font-family:$numbers-font;
}

footer {
  p{
    color:white;
  }
}