
.footer-top {
  form input, form textarea {
    background-color:$light-gray;
  }
  h4 {
    color:$white;
    font-size:25px;
  }
  ul {
    list-style: none;
    padding:8px;
    li {
      padding-bottom: .8rem;
      color:$white;
    }
    i {
      font-size:1.5rem;
    }
  }
  .disclaimer {
    h4 {
      font-size:16px;
      padding-bottom:5px;
      margin-bottom:5px;
      color:$soft;
      font-family: $open-sans;
    }
    p {
      color:$soft;
      font-size:12px;
      line-height: 14px;
    }
    .left-border {
      border-left:1px solid $soft;
    }
  }
}

